body {
  font-family: 'Press Start 2P', regular, cursive;
  background-color: #e31010;
  background-image: url('../img/background.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.navbar {
  margin-top: 4%;
  margin-left: 8%;
}

.nav-item,
.navbar-brand {
  color: #e6c81e;
}

#pokeSearch {
  margin-top: 5%;
  width: 60%;
}

#topBack {
  position: static;
}

#container {
  width: 30vw;
  display: block;
  background-color: #a39f9e;
  border: 3px groove #157cd1;
  border-radius: 10px;
  text-align: center;
  position: static;
}

.pokeList {
  text-align: center;
}

button.pokeButton {
  display: inline-block;
  margin: 9px;
  min-width: 75%;
  height: 50px;
  font-size: 150%;
  font-variant: small-caps;
  border: 2px solid #e31010;
  border-radius: 5px;
  background-color: #157cd1;
  text-align: center;
}

#pokeLogo {
  display: block;
  margin-top: 5%;
  position: static;
}

#pokeModal {
  text-align: center;
  box-sizing: border-box;
  background: #e31010;
  padding: 15px;
  width: 33%;
  height: auto;
  max-width: 700px;
  border: 4px ridge #157cd1;
  border-radius: 10px;
  font-variant: small-caps;
  margin-left: 33%;
  margin-top: 25px;
  position: fixed;
}

.pokePic {
  width: 70%;
  padding: 0;
}
